body {
	font-family: Cambria, Arial;
	background: #FFFFFF;
}

label:hover {
	background: -webkit-linear-gradient(#777, #666);
}

.panels {
	float: left;
	clear: both;
	position: relative;
	width: 100%;
	height:100%;
	background: #FFFFFF;
	border-radius: 0 10px 10px 10px;
	min-height: 315px;
	margin: 0px;
}

.panel {
/*	width: 100%;
	opacity: 0;
	position: absolute;
	background: #fff;
	border-radius: 0 10px 10px 10px;
	padding: 4%;
	box-sizing: border-box;*/
    position: relative;
	width: 80%;
    height: 10%;
    left: 60px;
    top: 30px;
	border:solid 1px #FFFFFF;
}

.panel h2 {
	margin: 0;
	font-family: Arial;
}

.select1{
	position:relative;
	width:150px;
	height:30px;
	font-family:'ArialMT', 'Arial';
	font-weight:400;
	font-style:normal;
	font-size:13px;
	text-decoration:none;
	color:#CCCCCC;
}

.select2{
	position:relative;
	left: 40px;
	width:150px;
	height:30px;
	font-family:'ArialMT', 'Arial';
	font-weight:400;
	font-style:normal;
	font-size:13px;
	text-decoration:none;
}

#select1:disabled {
	color:grayText;
}

#select_div{
	position:absolute;
	left:456px;
	top:62px;
	width:150px;
	height:22px;
}

.panel_select{
	font-family:'ArialMT', 'Arial';
	font-weight:400;
	font-style:normal;
	font-size:13px;
	color:#000000;
	text-align:left;
	line-height:normal;
}

.head{
	width:100%;
}
