<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SBDayageSettingSubMapper" >
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
  <select id="selectByCondition2" resultType="pd" useCache="false">
        SELECT  s.uid_num ,
		 s.farm_id ,
		 s.house_id ,
		 s.day_age ,
		 ROUND(s.set_temp,1) set_temp ,
		 ROUND(s.high_alarm_temp,1) high_alarm_temp ,
		 ROUND(s.low_alarm_temp,1) low_alarm_temp ,
		 s.set_humidity ,
		 s.memo ,
		 s.create_person ,
		 s.create_date ,
		 s.create_time ,
		 s.modify_person ,
		 s.modify_date ,
		 s.modify_time ,
		 s.high_alarm_humidity ,
		 s.low_alarm_humidity ,
		 s.super_high_alarm_humidity ,
		 s.super_low_alarm_humidity ,
		 s.super_high_alarm_temp ,
		 s.super_low_alarm_temp ,
		 ROUND(s.set_negative_pressure,1) set_negative_pressure ,
		 ROUND(s.high_alarm_negative_pressure,1) high_alarm_negative_pressure ,
		 ROUND(s.low_alarm_negative_pressure,1) low_alarm_negative_pressure ,
		 s.super_high_alarm_negative_pressure ,
		 s.super_low_alarm_negative_pressure ,
		 ROUND(s.set_co2,1) set_co2 ,
		 ROUND(s.high_alarm_co2,1) high_alarm_co2 ,
		 ROUND(s.low_alarm_co2,1) low_alarm_co2 ,
		 s.super_high_alarm_co2 ,
		 s.super_low_alarm_co2 ,
		 ROUND(s.set_water_deprivation,1) set_water_deprivation ,
		 ROUND(s.high_water_deprivation,1) high_water_deprivation ,
		 ROUND(s.low_water_deprivation,1) low_water_deprivation ,
		 s.super_high_water_deprivation ,
		 s.super_low_water_deprivation 
        FROM s_b_dayage_setting_sub s
        WHERE 1=1
        <if test="farmId != null "> 
        and s.farm_id = #{farmId} 
        </if>	
        <if test="houseId != null">
        and s.house_id = #{houseId}
        </if>
        <if test="day_age != null"> 
        and s.day_age = #{day_age}
        </if>	
        <if test="uid_num != null"> 
        and s.uid_num = #{uid_num}
        </if>
        ORDER BY s.farm_id,s.house_id,s.day_age 
    </select>
  <select id="selectByCondition1" resultType="pd" useCache="false">
  <if test="alarm_type == 1"> 
        SELECT  s.uid_num ,
		 s.farm_id ,
		 s.house_id ,
		 s.day_age ,
		 IFNULL(ROUND(s.set_temp,1),"") set_temp ,
		 IFNULL(ROUND(s.high_alarm_temp,1),"") high_alarm_temp ,
		 IFNULL(ROUND(s.low_alarm_temp,1),"") low_alarm_temp ,
		 s.set_humidity ,
		 s.memo ,
		 s.create_person ,
		 s.create_date ,
		 s.create_time ,
		 s.modify_person ,
		 s.modify_date ,
		 s.modify_time ,
		 s.high_alarm_humidity ,
		 s.low_alarm_humidity ,
		 s.super_high_alarm_humidity ,
		 s.super_low_alarm_humidity ,
		 s.super_high_alarm_temp ,
		 s.super_low_alarm_temp ,
		 IFNULL(ROUND(s.set_negative_pressure,1),"") set_negative_pressure ,
		 IFNULL(ROUND(s.high_alarm_negative_pressure,1),"") high_alarm_negative_pressure ,
		 IFNULL(ROUND(s.low_alarm_negative_pressure,1),"") low_alarm_negative_pressure ,
		 s.super_high_alarm_negative_pressure ,
		 s.super_low_alarm_negative_pressure ,
		 IFNULL(ROUND(s.set_co2,1),"") set_co2 ,
		 IFNULL(ROUND(s.high_alarm_co2,1),"") high_alarm_co2 ,
		 IFNULL(ROUND(s.low_alarm_co2,1),"") low_alarm_co2 ,
		 s.super_high_alarm_co2 ,
		 s.super_low_alarm_co2 ,
		 IFNULL(ROUND(s.set_water_deprivation,1),"") set_water_deprivation ,
		 IFNULL(ROUND(s.high_water_deprivation,1),"") high_water_deprivation ,
		 IFNULL(ROUND(s.low_water_deprivation,1),"") low_water_deprivation ,
		 s.super_high_water_deprivation ,
		 s.super_low_water_deprivation 
        FROM s_b_dayage_setting_sub s
        WHERE 1=1
        <if test="farmId != null "> 
        and s.farm_id = #{farmId} 
        </if>	
        <if test="houseId != null">
        and s.house_id = #{houseId}
        </if>
        <if test="day_age != null"> 
        and s.day_age = #{day_age}
        </if>	
        <if test="uid_num != null"> 
        and s.uid_num = #{uid_num}
        </if>
        and s.set_temp is not null
        ORDER BY s.farm_id,s.house_id,s.day_age 
        </if>
        
        <if test="alarm_type == 2"> 
        SELECT  s.uid_num ,
		 s.farm_id ,
		 s.house_id ,
		 s.day_age ,
		 IFNULL(ROUND(s.set_temp,1),"") set_temp ,
		 IFNULL(ROUND(s.high_alarm_temp,1),"") high_alarm_temp ,
		 IFNULL(ROUND(s.low_alarm_temp,1),"") low_alarm_temp ,
		 s.set_humidity ,
		 s.memo ,
		 s.create_person ,
		 s.create_date ,
		 s.create_time ,
		 s.modify_person ,
		 s.modify_date ,
		 s.modify_time ,
		 s.high_alarm_humidity ,
		 s.low_alarm_humidity ,
		 s.super_high_alarm_humidity ,
		 s.super_low_alarm_humidity ,
		 s.super_high_alarm_temp ,
		 s.super_low_alarm_temp ,
		 IFNULL(ROUND(s.set_negative_pressure,1),"") set_negative_pressure ,
		 IFNULL(ROUND(s.high_alarm_negative_pressure,1),"") high_alarm_negative_pressure ,
		 IFNULL(ROUND(s.low_alarm_negative_pressure,1),"") low_alarm_negative_pressure ,
		 s.super_high_alarm_negative_pressure ,
		 s.super_low_alarm_negative_pressure ,
		 IFNULL(ROUND(s.set_co2,1),"") set_co2 ,
		 IFNULL(ROUND(s.high_alarm_co2,1),"") high_alarm_co2 ,
		 IFNULL(ROUND(s.low_alarm_co2,1),"") low_alarm_co2 ,
		 s.super_high_alarm_co2 ,
		 s.super_low_alarm_co2 ,
		 IFNULL(ROUND(s.set_water_deprivation,1),"") set_water_deprivation ,
		 IFNULL(ROUND(s.high_water_deprivation,1),"") high_water_deprivation ,
		 IFNULL(ROUND(s.low_water_deprivation,1),"") low_water_deprivation ,
		 s.super_high_water_deprivation ,
		 s.super_low_water_deprivation 
        FROM s_b_dayage_setting_sub s
        WHERE 1=1
        <if test="farmId != null "> 
        and s.farm_id = #{farmId} 
        </if>	
        <if test="houseId != null">
        and s.house_id = #{houseId}
        </if>
        <if test="day_age != null"> 
        and s.day_age = #{day_age}
        </if>	
        <if test="uid_num != null"> 
        and s.uid_num = #{uid_num}
        </if>
        and s.high_alarm_negative_pressure is not null
        ORDER BY s.farm_id,s.house_id,s.day_age 
        </if>
        
        <if test="alarm_type == 3"> 
        SELECT  s.uid_num ,
		 s.farm_id ,
		 s.house_id ,
		 s.day_age ,
		 IFNULL(ROUND(s.set_temp,1),"") set_temp ,
		 IFNULL(ROUND(s.high_alarm_temp,1),"") high_alarm_temp ,
		 IFNULL(ROUND(s.low_alarm_temp,1),"") low_alarm_temp ,
		 s.set_humidity ,
		 s.memo ,
		 s.create_person ,
		 s.create_date ,
		 s.create_time ,
		 s.modify_person ,
		 s.modify_date ,
		 s.modify_time ,
		 s.high_alarm_humidity ,
		 s.low_alarm_humidity ,
		 s.super_high_alarm_humidity ,
		 s.super_low_alarm_humidity ,
		 s.super_high_alarm_temp ,
		 s.super_low_alarm_temp ,
		 IFNULL(ROUND(s.set_negative_pressure,1),"") set_negative_pressure ,
		 IFNULL(ROUND(s.high_alarm_negative_pressure,1),"") high_alarm_negative_pressure ,
		 IFNULL(ROUND(s.low_alarm_negative_pressure,1),"") low_alarm_negative_pressure ,
		 s.super_high_alarm_negative_pressure ,
		 s.super_low_alarm_negative_pressure ,
		 IFNULL(ROUND(s.set_co2,1),"") set_co2 ,
		 IFNULL(ROUND(s.high_alarm_co2,1),"") high_alarm_co2 ,
		 IFNULL(ROUND(s.low_alarm_co2,1),"") low_alarm_co2 ,
		 s.super_high_alarm_co2 ,
		 s.super_low_alarm_co2 ,
		 IFNULL(ROUND(s.set_water_deprivation,1),"") set_water_deprivation ,
		 IFNULL(ROUND(s.high_water_deprivation,1),"") high_water_deprivation ,
		 IFNULL(ROUND(s.low_water_deprivation,1),"") low_water_deprivation ,
		 s.super_high_water_deprivation ,
		 s.super_low_water_deprivation 
        FROM s_b_dayage_setting_sub s
        WHERE 1=1
        <if test="farmId != null "> 
        and s.farm_id = #{farmId} 
        </if>	
        <if test="houseId != null">
        and s.house_id = #{houseId}
        </if>
        <if test="day_age != null"> 
        and s.day_age = #{day_age}
        </if>	
        <if test="uid_num != null"> 
        and s.uid_num = #{uid_num}
        </if>
        and s.high_alarm_co2 is not null
        ORDER BY s.farm_id,s.house_id,s.day_age 
        </if>
        
        <if test="alarm_type == 4"> 
        SELECT  s.uid_num ,
		 s.farm_id ,
		 s.house_id ,
		 s.day_age ,
		 IFNULL(ROUND(s.set_temp,1),"") set_temp ,
		 IFNULL(ROUND(s.high_alarm_temp,1),"") high_alarm_temp ,
		 IFNULL(ROUND(s.low_alarm_temp,1),"") low_alarm_temp ,
		 s.set_humidity ,
		 s.memo ,
		 s.create_person ,
		 s.create_date ,
		 s.create_time ,
		 s.modify_person ,
		 s.modify_date ,
		 s.modify_time ,
		 s.high_alarm_humidity ,
		 s.low_alarm_humidity ,
		 s.super_high_alarm_humidity ,
		 s.super_low_alarm_humidity ,
		 s.super_high_alarm_temp ,
		 s.super_low_alarm_temp ,
		 IFNULL(ROUND(s.set_negative_pressure,1),"") set_negative_pressure ,
		 IFNULL(ROUND(s.high_alarm_negative_pressure,1),"") high_alarm_negative_pressure ,
		 IFNULL(ROUND(s.low_alarm_negative_pressure,1),"") low_alarm_negative_pressure ,
		 s.super_high_alarm_negative_pressure ,
		 s.super_low_alarm_negative_pressure ,
		 IFNULL(ROUND(s.set_co2,1),"") set_co2 ,
		 IFNULL(ROUND(s.high_alarm_co2,1),"") high_alarm_co2 ,
		 IFNULL(ROUND(s.low_alarm_co2,1),"") low_alarm_co2 ,
		 s.super_high_alarm_co2 ,
		 s.super_low_alarm_co2 ,
		 IFNULL(ROUND(s.set_water_deprivation,1),"") set_water_deprivation ,
		 IFNULL(ROUND(s.high_water_deprivation,1),"") high_water_deprivation ,
		 IFNULL(ROUND(s.low_water_deprivation,1),"") low_water_deprivation ,
		 s.super_high_water_deprivation ,
		 s.super_low_water_deprivation 
        FROM s_b_dayage_setting_sub s
        WHERE 1=1
        <if test="farmId != null "> 
        and s.farm_id = #{farmId} 
        </if>	
        <if test="houseId != null">
        and s.house_id = #{houseId}
        </if>
        <if test="day_age != null"> 
        and s.day_age = #{day_age}
        </if>	
        <if test="uid_num != null"> 
        and s.uid_num = #{uid_num}
        </if>
        and s.set_water_deprivation is not null
        ORDER BY s.farm_id,s.house_id,s.day_age 
        </if>
        
    </select>
    <!-- 查询日龄目标温度设置 -->
    <select id="selectByCondition" resultType="pd" useCache="false">
    <if test="alarm_type == 1">
        SELECT  s.uid_num ,
		 s.farm_id ,
		 s.house_id ,
		 s.day_age ,
		 IFNULL(ROUND(s.set_temp,1),"") set_temp ,
		 IFNULL(ROUND(s.high_alarm_temp,1),"") high_alarm_temp ,
		 IFNULL(ROUND(s.low_alarm_temp,1),"") low_alarm_temp ,
		 s.set_humidity ,
		 s.memo ,
		 s.create_person ,
		 s.create_date ,
		 s.create_time ,
		 s.modify_person ,
		 s.modify_date ,
		 s.modify_time ,
		 s.high_alarm_humidity ,
		 s.low_alarm_humidity ,
		 s.super_high_alarm_humidity ,
		 s.super_low_alarm_humidity ,
		 s.super_high_alarm_temp ,
		 s.super_low_alarm_temp ,
		 IFNULL(ROUND(s.set_negative_pressure,1),"") set_negative_pressure ,
		 IFNULL(ROUND(s.high_alarm_negative_pressure,1),"") high_alarm_negative_pressure ,
		 IFNULL(ROUND(s.low_alarm_negative_pressure,1),"") low_alarm_negative_pressure ,
		 s.super_high_alarm_negative_pressure ,
		 s.super_low_alarm_negative_pressure ,
		 IFNULL(ROUND(s.set_co2,1),"") set_co2 ,
		 IFNULL(ROUND(s.high_alarm_co2,1),"") high_alarm_co2 ,
		 IFNULL(ROUND(s.low_alarm_co2,1),"") low_alarm_co2 ,
		 s.super_high_alarm_co2 ,
		 s.super_low_alarm_co2 ,
		 IFNULL(ROUND(s.set_water_deprivation,1),"") set_water_deprivation ,
		 IFNULL(ROUND(s.high_water_deprivation,1),"") high_water_deprivation ,
		 IFNULL(ROUND(s.low_water_deprivation,1),"") low_water_deprivation ,
		 s.super_high_water_deprivation ,
		 s.super_low_water_deprivation 
        FROM s_b_dayage_setting_sub s
        WHERE 1=1
        <if test="farmId != null"> 
        and s.farm_id = #{farmId} 
        </if>
        <if test="houseId != null">
        and s.house_id = #{houseId}
        </if>
        and s.set_temp is not null
        ORDER BY s.farm_id,s.house_id,s.day_age 
        </if>
        
        <if test="alarm_type == 2">
        SELECT  s.uid_num ,
		 s.farm_id ,
		 s.house_id ,
		 s.day_age ,
		 IFNULL(ROUND(s.set_temp,1),"") set_temp ,
		 IFNULL(ROUND(s.high_alarm_temp,1),"") high_alarm_temp ,
		 IFNULL(ROUND(s.low_alarm_temp,1),"") low_alarm_temp ,
		 s.set_humidity ,
		 s.memo ,
		 s.create_person ,
		 s.create_date ,
		 s.create_time ,
		 s.modify_person ,
		 s.modify_date ,
		 s.modify_time ,
		 s.high_alarm_humidity ,
		 s.low_alarm_humidity ,
		 s.super_high_alarm_humidity ,
		 s.super_low_alarm_humidity ,
		 s.super_high_alarm_temp ,
		 s.super_low_alarm_temp ,
		 IFNULL(ROUND(s.set_negative_pressure,1),"") set_negative_pressure ,
		 IFNULL(ROUND(s.high_alarm_negative_pressure,1),"") high_alarm_negative_pressure ,
		 IFNULL(ROUND(s.low_alarm_negative_pressure,1),"") low_alarm_negative_pressure ,
		 s.super_high_alarm_negative_pressure ,
		 s.super_low_alarm_negative_pressure ,
		 IFNULL(ROUND(s.set_co2,1),"") set_co2 ,
		 IFNULL(ROUND(s.high_alarm_co2,1),"") high_alarm_co2 ,
		 IFNULL(ROUND(s.low_alarm_co2,1),"") low_alarm_co2 ,
		 s.super_high_alarm_co2 ,
		 s.super_low_alarm_co2 ,
		 IFNULL(ROUND(s.set_water_deprivation,1),"") set_water_deprivation ,
		 IFNULL(ROUND(s.high_water_deprivation,1),"") high_water_deprivation ,
		 IFNULL(ROUND(s.low_water_deprivation,1),"") low_water_deprivation ,
		 s.super_high_water_deprivation ,
		 s.super_low_water_deprivation 
        FROM s_b_dayage_setting_sub s
        WHERE 1=1
        <if test="farmId != null"> 
        and s.farm_id = #{farmId} 
        </if>
        <if test="houseId != null">
        and s.house_id = #{houseId}
        </if>
        and s.high_alarm_negative_pressure is not null
        ORDER BY s.farm_id,s.house_id,s.day_age 
        </if>
        
        <if test="alarm_type == 3">
        SELECT  s.uid_num ,
		 s.farm_id ,
		 s.house_id ,
		 s.day_age ,
		 IFNULL(ROUND(s.set_temp,1),"") set_temp ,
		 IFNULL(ROUND(s.high_alarm_temp,1),"") high_alarm_temp ,
		 IFNULL(ROUND(s.low_alarm_temp,1),"") low_alarm_temp ,
		 s.set_humidity ,
		 s.memo ,
		 s.create_person ,
		 s.create_date ,
		 s.create_time ,
		 s.modify_person ,
		 s.modify_date ,
		 s.modify_time ,
		 s.high_alarm_humidity ,
		 s.low_alarm_humidity ,
		 s.super_high_alarm_humidity ,
		 s.super_low_alarm_humidity ,
		 s.super_high_alarm_temp ,
		 s.super_low_alarm_temp ,
		 IFNULL(ROUND(s.set_negative_pressure,1),"") set_negative_pressure ,
		 IFNULL(ROUND(s.high_alarm_negative_pressure,1),"") high_alarm_negative_pressure ,
		 IFNULL(ROUND(s.low_alarm_negative_pressure,1),"") low_alarm_negative_pressure ,
		 s.super_high_alarm_negative_pressure ,
		 s.super_low_alarm_negative_pressure ,
		 IFNULL(ROUND(s.set_co2,1),"") set_co2 ,
		 IFNULL(ROUND(s.high_alarm_co2,1),"") high_alarm_co2 ,
		 IFNULL(ROUND(s.low_alarm_co2,1),"") low_alarm_co2 ,
		 s.super_high_alarm_co2 ,
		 s.super_low_alarm_co2 ,
		 IFNULL(ROUND(s.set_water_deprivation,1),"") set_water_deprivation ,
		 IFNULL(ROUND(s.high_water_deprivation,1),"") high_water_deprivation ,
		 IFNULL(ROUND(s.low_water_deprivation,1),"") low_water_deprivation ,
		 s.super_high_water_deprivation ,
		 s.super_low_water_deprivation 
        FROM s_b_dayage_setting_sub s
        WHERE 1=1
        <if test="farmId != null"> 
        and s.farm_id = #{farmId} 
        </if>
        <if test="houseId != null">
        and s.house_id = #{houseId}
        </if>
        and s.high_alarm_co2 is not null
        ORDER BY s.farm_id,s.house_id,s.day_age 
        </if>
        
        <if test="alarm_type == 4">
        SELECT  s.uid_num ,
		 s.farm_id ,
		 s.house_id ,
		 s.day_age ,
		 IFNULL(ROUND(s.set_temp,1),"") set_temp ,
		 IFNULL(ROUND(s.high_alarm_temp,1),"") high_alarm_temp ,
		 IFNULL(ROUND(s.low_alarm_temp,1),"") low_alarm_temp ,
		 s.set_humidity ,
		 s.memo ,
		 s.create_person ,
		 s.create_date ,
		 s.create_time ,
		 s.modify_person ,
		 s.modify_date ,
		 s.modify_time ,
		 s.high_alarm_humidity ,
		 s.low_alarm_humidity ,
		 s.super_high_alarm_humidity ,
		 s.super_low_alarm_humidity ,
		 s.super_high_alarm_temp ,
		 s.super_low_alarm_temp ,
		 IFNULL(ROUND(s.set_negative_pressure,1),"") set_negative_pressure ,
		 IFNULL(ROUND(s.high_alarm_negative_pressure,1),"") high_alarm_negative_pressure ,
		 IFNULL(ROUND(s.low_alarm_negative_pressure,1),"") low_alarm_negative_pressure ,
		 s.super_high_alarm_negative_pressure ,
		 s.super_low_alarm_negative_pressure ,
		 IFNULL(ROUND(s.set_co2,1),"") set_co2 ,
		 IFNULL(ROUND(s.high_alarm_co2,1),"") high_alarm_co2 ,
		 IFNULL(ROUND(s.low_alarm_co2,1),"") low_alarm_co2 ,
		 s.super_high_alarm_co2 ,
		 s.super_low_alarm_co2 ,
		 IFNULL(ROUND(s.set_water_deprivation,1),"") set_water_deprivation ,
		 IFNULL(ROUND(s.high_water_deprivation,1),"") high_water_deprivation ,
		 IFNULL(ROUND(s.low_water_deprivation,1),"") low_water_deprivation ,
		 s.super_high_water_deprivation ,
		 s.super_low_water_deprivation 
        FROM s_b_dayage_setting_sub s
        WHERE 1=1
        <if test="farmId != null"> 
        and s.farm_id = #{farmId} 
        </if>
        <if test="houseId != null">
        and s.house_id = #{houseId}
        </if>
        and s.set_water_deprivation is not null
        ORDER BY s.farm_id,s.house_id,s.day_age 
        </if>
        
    </select>
    <!-- 新增日龄目标温度设置 -->
    <insert id="saveSBDayageSettingSub" parameterType="pd"  flushCache="false" keyProperty="uid_num">
      <!-- 温度 -->
	   <if test="alarm_type == 1">
		INSERT into s_b_dayage_setting_sub (
		 farm_id ,
		 house_id ,
		 day_age ,
		 set_temp ,
		 high_alarm_temp ,
		 low_alarm_temp ,
		 set_humidity ,
		 memo ,
		 create_person ,
		 create_date ,
		 create_time ,
		 modify_person ,
		 modify_date ,
		 modify_time 
		) values (
			#{farmId},
			#{houseId},
			#{day_age},
			#{set_temp},
			#{high_alarm_temp},
			#{low_alarm_temp},
			#{set_humidity},
			#{memo},
			#{create_person},
			#{create_date},
			#{create_time},
			#{modify_person},
			#{modify_date},
			#{modify_time}
		)
		</if>
		<!-- 负压 -->
	   <if test="alarm_type == 2">
	   INSERT into s_b_dayage_setting_sub (
		 farm_id ,
		 house_id ,
		 day_age ,
		 high_alarm_negative_pressure ,
		 set_humidity ,
		 memo ,
		 create_person ,
		 create_date ,
		 create_time ,
		 modify_person ,
		 modify_date ,
		 modify_time 
		) values (
			#{farmId},
			#{houseId},
			#{day_age},
			#{high_alarm_negative_pressure},
			#{set_humidity},
			#{memo},
			#{create_person},
			#{create_date},
			#{create_time},
			#{modify_person},
			#{modify_date},
			#{modify_time}
		)
	   </if>
	   <!-- 二氧化碳 -->
	   <if test="alarm_type == 3"> 
	   INSERT into s_b_dayage_setting_sub (
		 farm_id ,
		 house_id ,
		 day_age ,
		 high_alarm_co2 ,
		 set_humidity ,
		 memo ,
		 create_person ,
		 create_date ,
		 create_time ,
		 modify_person ,
		 modify_date ,
		 modify_time 
		) values (
			#{farmId},
			#{houseId},
			#{day_age},
			#{high_alarm_co2},
			#{set_humidity},
			#{memo},
			#{create_person},
			#{create_date},
			#{create_time},
			#{modify_person},
			#{modify_date},
			#{modify_time}
		)
	   </if>
	   <!-- 耗水 -->
	   <if test="alarm_type == 4">
	   INSERT into s_b_dayage_setting_sub (
		 farm_id ,
		 house_id ,
		 day_age ,
		 set_water_deprivation ,
		 high_water_deprivation ,
		 low_water_deprivation ,
		 set_humidity ,
		 memo ,
		 create_person ,
		 create_date ,
		 create_time ,
		 modify_person ,
		 modify_date ,
		 modify_time 
		) values (
			#{farmId},
			#{houseId},
			#{day_age},
			#{set_water_deprivation},
			#{high_alarm_co2},
			#{high_water_deprivation},
			#{set_humidity},
			#{memo},
			#{create_person},
			#{create_date},
			#{create_time},
			#{modify_person},
			#{modify_date},
			#{modify_time}
		)
	   </if>
	</insert>
	
	<insert id="saveSBDayageSettingSub2" parameterType="pd"  flushCache="false" keyProperty="uid_num">
		INSERT into s_b_dayage_setting_sub (
		 farm_id ,
		 house_id ,
		 day_age ,
		 set_temp ,
		 high_alarm_temp ,
		 low_alarm_temp ,
		 set_negative_pressure ,
		 high_alarm_negative_pressure ,
		 low_alarm_negative_pressure ,
		 set_co2 ,
		 high_alarm_co2 ,
		 low_alarm_co2 ,
		 set_water_deprivation ,
		 high_water_deprivation ,
		 low_water_deprivation ,
		 set_humidity ,
		 memo ,
		 create_person ,
		 create_date ,
		 create_time ,
		 modify_person ,
		 modify_date ,
		 modify_time 
		) values (
			#{farmId},
			#{houseId},
			#{day_age},
			#{set_temp},
			#{high_alarm_temp},
			#{low_alarm_temp},
			#{set_negative_pressure},
			#{high_alarm_negative_pressure},
			#{low_alarm_negative_pressure},
			#{set_co2},
			#{high_alarm_co2},
			#{low_alarm_co2},
			#{set_water_deprivation},
			#{high_water_deprivation},
			#{low_water_deprivation},
			#{set_humidity},
			#{memo},
			#{create_person},
			#{create_date},
			#{create_time},
			#{modify_person},
			#{modify_date},
			#{modify_time}
		)
		</insert>
	
	<!-- 删除日龄目标温度设置 -->
	<delete id="deleteSBDayageSettingSub" flushCache="false">
	   <!-- 温度 -->
	   <if test="alarm_type == 1"> 
		UPDATE s_b_dayage_setting_sub SET set_temp = null,high_alarm_temp = null,low_alarm_temp = null
		 , modify_person = #{modify_person}
		  , modify_date = #{modify_date} , modify_time = #{modify_time}
		WHERE uid_num = #{uid_num}
	   </if>
	   <!-- 负压 -->
	   <if test="alarm_type == 2"> 
		UPDATE s_b_dayage_setting_sub SET set_negative_pressure = null , high_alarm_negative_pressure = null , low_alarm_negative_pressure = null 
		 , modify_person = #{modify_person}
		  , modify_date = #{modify_date} , modify_time = #{modify_time}
		WHERE uid_num = #{uid_num}
	   </if>
	   <!-- 二氧化碳 -->
	   <if test="alarm_type == 3"> 
		UPDATE s_b_dayage_setting_sub SET set_co2 = null , high_alarm_co2 = null, low_alarm_co2 = null 
		 , modify_person = #{modify_person}
		  , modify_date = #{modify_date} , modify_time = #{modify_time}
		WHERE uid_num = #{uid_num}
	   </if>
	   <!-- 耗水 -->
	   <if test="alarm_type == 4"> 
		UPDATE s_b_dayage_setting_sub SET set_water_deprivation = null , high_water_deprivation = null , low_water_deprivation = null 
		 , modify_person = #{modify_person}
		  ,modify_date = #{modify_date} , modify_time = #{modify_time}
		WHERE uid_num = #{uid_num}
	   </if>
	</delete>
	
	<delete id="deleteSBDayageSettingSub2" flushCache="false">
	delete from s_b_dayage_setting_sub s 
	where 1=1
        <if test="farmId != null"> 
        and s.farm_id = #{farmId} 
        </if>
        <if test="houseId != null">
        and s.house_id = #{houseId}
        </if>
        <if test="day_age != null">
        and s.day_age = #{day_age}
        </if>
	</delete>
	
	<!-- 更新日龄目标温度设置 -->
	<update id="updateSBDayageSettingSub" flushCache="false">
	 <!-- 温度 -->
	   <if test="alarm_type == 1"> 
		UPDATE s_b_dayage_setting_sub SET set_temp = #{set_temp} , high_alarm_temp = #{high_alarm_temp} , low_alarm_temp = #{low_alarm_temp} 
		 , modify_person = #{modify_person}
		  , modify_date = #{modify_date} , modify_time = #{modify_time}
		WHERE uid_num = #{uid_num}
	   </if>
	   <!-- 负压 -->
	   <if test="alarm_type == 2"> 
		UPDATE s_b_dayage_setting_sub SET high_alarm_negative_pressure = #{high_alarm_negative_pressure}
		 , modify_person = #{modify_person}
		  , modify_date = #{modify_date} , modify_time = #{modify_time}
		WHERE uid_num = #{uid_num}
	   </if>
	   <!-- 二氧化碳 -->
	   <if test="alarm_type == 3"> 
		UPDATE s_b_dayage_setting_sub SET high_alarm_co2 = #{high_alarm_co2}
		 , modify_person = #{modify_person}
		  , modify_date = #{modify_date} , modify_time = #{modify_time}
		WHERE uid_num = #{uid_num}
	   </if>
	   <!-- 耗水 -->
	   <if test="alarm_type == 4"> 
		UPDATE s_b_dayage_setting_sub SET set_water_deprivation = #{set_water_deprivation} , high_water_deprivation = #{high_water_deprivation} , low_water_deprivation = #{low_water_deprivation} 
		 , modify_person = #{modify_person}
		  , modify_date = #{modify_date} , modify_time = #{modify_time}
		WHERE uid_num = #{uid_num}
		</if>
	</update>
	<!-- 查询日龄目标温度设置子表 -->
    <select id="selectSBDayageTempSubByCondition" resultType="pd" useCache="false">
        SELECT  s.uid_num ,
		 s.farm_id ,
		 s.house_id ,
		 s.day_age ,
		 s.set_temp ,
		 s.record_datetime,
		 s.high_alarm_temp ,
		 s.low_alarm_temp ,
		 s.set_humidity ,
		 s.memo ,
		 s.create_person ,
		 s.create_date ,
		 s.create_time ,
		 s.modify_person ,
		 s.modify_date ,
		 s.modify_time ,
		 s.high_alarm_humidity ,
		 s.low_alarm_humidity ,
		 s.super_high_alarm_humidity ,
		 s.super_low_alarm_humidity ,
		 s.super_high_alarm_temp ,
		 s.super_low_alarm_temp ,
		 s.set_negative_pressure ,
		 s.high_alarm_negative_pressure ,
		 s.low_alarm_negative_pressure ,
		 s.super_high_alarm_negative_pressure ,
		 s.super_low_alarm_negative_pressure ,
		 s.set_co2 ,
		 s.high_alarm_co2 ,
		 s.low_alarm_co2 ,
		 s.super_high_alarm_co2 ,
		 s.super_low_alarm_co2 ,
		 s.set_water_deprivation ,
		 s.high_water_deprivation ,
		 s.low_water_deprivation ,
		 s.super_high_water_deprivation ,
		 s.super_low_water_deprivation 
        FROM s_b_dayage_temp_sub s
        WHERE 1=1
        <if test="uid_num != null"> 
        and s.uid_num = #{uid_num}
        </if>
        <if test="farmId != null"> 
        AND farm_id = #{farmId} 
        </if>
        <if test="houseId != null"> 
        AND house_id = #{houseId} 
        </if>
        <if test="day_age != null"> 
        AND day_age = #{day_age} 
        </if>
        <if test="record_datetime != null"> 
        AND record_datetime = #{record_datetime}
        </if>
        ORDER BY s.farm_id,s.house_id,s.day_age,s.record_datetime
    </select>
	<!-- 新增日龄目标温度子 -->	
	<insert id="saveSBDayageTempSub" parameterType="pd"  flushCache="false" keyProperty="uid_num">
		INSERT into s_b_dayage_temp_sub (
		 uid_num,
			farm_id,
			house_id,
			day_age,
			record_datetime,
			set_temp,
			high_alarm_temp,
			low_alarm_temp,
			set_humidity,
			memo,
			create_person,
			create_date,
			create_time,
			modify_person,
			modify_date,
			modify_time,
			high_alarm_humidity,
			low_alarm_humidity,
			super_high_alarm_humidity,
			super_low_alarm_humidity,
			super_high_alarm_temp,
			super_low_alarm_temp,
			set_negative_pressure,
			high_alarm_negative_pressure,
			low_alarm_negative_pressure,
			super_high_alarm_negative_pressure,
			super_low_alarm_negative_pressure,
			set_co2,
			high_alarm_co2,
			low_alarm_co2,
			super_high_alarm_co2,
			super_low_alarm_co2,
			set_water_deprivation,
			high_water_deprivation,
			low_water_deprivation,
			super_high_water_deprivation,
			super_low_water_deprivation
		) values (
		   #{uid_num},
			#{farmId},
			#{houseId},
			#{day_age},
			#{record_datetime},
			#{set_temp},
			#{high_alarm_temp},
			#{low_alarm_temp},
			#{set_humidity},
			#{memo},
			#{create_person},
			#{create_date},
			#{create_time},
			#{modify_person},
			#{modify_date},
			#{modify_time},
			#{high_alarm_humidity},
			#{low_alarm_humidity},
			#{super_high_alarm_humidity},
			#{super_low_alarm_humidity},
			#{super_high_alarm_temp},
			#{super_low_alarm_temp},
			#{set_negative_pressure},
			#{high_alarm_negative_pressure},
			#{low_alarm_negative_pressure},
			#{super_high_alarm_negative_pressure},
			#{super_low_alarm_negative_pressure},
			#{set_co2},
			#{high_alarm_co2},
			#{low_alarm_co2},
			#{super_high_alarm_co2},
			#{super_low_alarm_co2},
			#{set_water_deprivation},
			#{high_water_deprivation},
			#{low_water_deprivation},
			#{super_high_water_deprivation},
			#{super_low_water_deprivation}
		)
		</insert>
	
	<!-- 更新日龄目标温度设置子表 -->
	<update id="updateSBDayageTempSub" flushCache="false">
	 <!-- 温度 -->
	   <if test="alarm_type == 1"> 
		UPDATE s_b_dayage_temp_sub SET set_temp = #{set_temp} , high_alarm_temp = #{high_alarm_temp} , low_alarm_temp = #{low_alarm_temp}
		   , modify_person = #{modify_person}
		  , modify_date = #{modify_date}, modify_time = #{modify_time}
		WHERE uid_num = #{uid_num} AND farm_id = #{farmId} AND house_id = #{houseId} AND day_age = #{day_age} AND record_datetime = #{record_datetime}
	   </if>
	   <!-- 负压 -->
	   <if test="alarm_type == 2"> 
		UPDATE s_b_dayage_temp_sub SET high_alarm_negative_pressure = #{high_alarm_negative_pressure}  
		 , modify_person = #{modify_person}
		  , modify_date = #{modify_date} , modify_time = #{modify_time}
		WHERE uid_num = #{uid_num} AND farm_id = #{farmId} AND house_id = #{houseId} AND day_age = #{day_age} AND record_datetime = #{record_datetime}
	   </if>
	   <!-- 二氧化碳 -->
	   <if test="alarm_type == 3"> 
		UPDATE s_b_dayage_temp_sub SET high_alarm_co2 = #{high_alarm_co2} 
		 , modify_person = #{modify_person}
		  , modify_date = #{modify_date} , modify_time = #{modify_time}
		WHERE uid_num = #{uid_num} AND farm_id = #{farmId} AND house_id = #{houseId} AND day_age = #{day_age} AND record_datetime = #{record_datetime}
	   </if>
	   <!-- 耗水 -->
	   <if test="alarm_type == 4"> 
		UPDATE s_b_dayage_temp_sub SET set_water_deprivation = #{set_water_deprivation} , high_water_deprivation = #{high_water_deprivation} , low_water_deprivation = #{low_water_deprivation} 
		 , modify_person = #{modify_person}
		  , modify_date = #{modify_date} , modify_time = #{modify_time}
		WHERE uid_num = #{uid_num} AND farm_id = #{farmId} AND house_id = #{houseId} AND day_age = #{day_age} AND record_datetime = #{record_datetime}
		</if>
	</update>
	<!-- 删除日龄目标温度设置子表 -->
	<delete id="deleteSBDayageTempSub" flushCache="false">
		<!-- 温度 -->
	   <if test="alarm_type == 1"> 
		UPDATE s_b_dayage_temp_sub SET set_temp = null, high_alarm_temp = null, low_alarm_temp = null
		 , modify_person = #{modify_person}
		  , modify_date = #{modify_date} , modify_time = #{modify_time}
		WHERE uid_num = #{uid_num}
	   </if>
	   <!-- 负压 -->
	   <if test="alarm_type == 2"> 
		UPDATE s_b_dayage_temp_sub SET set_negative_pressure = null, high_alarm_negative_pressure = null, low_alarm_negative_pressure = null, 
		 modify_person = #{modify_person}
		  , modify_date = #{modify_date} , modify_time = #{modify_time}
		WHERE uid_num = #{uid_num}
	   </if>
	   <!-- 二氧化碳 -->
	   <if test="alarm_type == 3"> 
		UPDATE s_b_dayage_temp_sub SET set_co2 = null, high_alarm_co2 = null, low_alarm_co2 = null, 
		  modify_person = #{modify_person}
		  , modify_date = #{modify_date} , modify_time = #{modify_time}
		WHERE uid_num = #{uid_num}
	   </if>
	   <!-- 耗水 -->
	   <if test="alarm_type == 4"> 
		UPDATE s_b_dayage_temp_sub SET set_water_deprivation = null, high_water_deprivation = null, low_water_deprivation = null, 
		  modify_person = #{modify_person}
		  , modify_date = #{modify_date} , modify_time = #{modify_time}
		WHERE uid_num = #{uid_num}
	   </if>
	</delete>
	
	<delete id="deleteSBDayageTempSub2" flushCache="false">
	delete from s_b_dayage_temp_sub s 
	where 1=1
        <if test="uid_num != null"> 
        and uid_num = #{uid_num}
        </if>
	</delete>
	
	<!-- 查询栋舍报警设置 -->
	<select id="selectSBHouseAlarmByCondition" resultType="pd" useCache="false">
	SELECT farm_id,
			house_id,
			alarm_type,
			alarm_delay,
			temp_cpsation,
			temp_cordon,
			alarm_way,
			alarm_probe,
			point_alarm,
			create_person,
			create_date,
			create_time,
			modify_person,
			modify_date,
			modify_time
			FROM s_b_house_alarm
			where 1=1
			<if test="farmId != null">
			AND farm_id = #{farmId}
			</if>
			<if test="houseId != null">
			AND house_id = #{houseId}
			</if>
	</select>
	<!-- 更新栋舍报警设置 -->
	<update id="updateSBHouseAlarm" flushCache="false">
	  UPDATE s_b_house_alarm SET alarm_delay = #{alarm_delay} , temp_cpsation = #{temp_cpsation} , temp_cordon = #{temp_cordon} , alarm_way = #{alarm_way} 
	  <if test="alarm_way == 1">
	  , alarm_probe = #{alarm_probe}
	  </if>
	  ,modify_person = #{modify_person},modify_date = #{modify_date},modify_time = #{modify_time}
	  WHERE farm_id = #{farmId} AND house_id = #{houseId}
	</update>
	<!-- 查询报警人设置 -->
	<select id="selectSBReminderByCondition" resultType="pd" useCache="false">
	SELECT id,
			user_order,
			remind_method,
			farm_id,
			house_id,
			user_type,
			user_id,
			create_time,
			create_person,
			modify_person,
			modify_time,
			bak1,
			bak2
    FROM s_b_reminder
    WHERE farm_id = #{farmId} AND house_id = #{houseId}
    
	</select>
	<!-- 新增报警人设置 -->
    <insert id="saveSBReminder" parameterType="pd"  flushCache="false">
    INSERT INTO s_b_reminder(user_order,
							remind_method,
							farm_id,
							house_id,
							user_type,
							user_id,
							create_time,
							create_person,
							modify_person,
							modify_time
							)value(#{user_order},
							       #{remind_method},
							       #{farmId},
							       #{houseId},
							       #{user_type},
							       #{user_id},
							       #{create_time},
							       #{create_person},
							       #{modify_person},
							       #{modify_time})
    </insert>
    <!-- 更新报警人设置 -->
    <update id="updateSBReminder" flushCache="false">
    UPDATE s_b_reminder SET user_id = #{user_id},modify_person = #{modify_person}
	  , modify_time = #{modify_time} 
	  WHERE farm_id = #{farmId} AND house_id = #{houseId} AND user_order = #{user_order}
    </update>
    <!-- 查询提醒启用设置 -->
    <select id="selectSBRemindSwitch" resultType="pd" useCache="false">
    SELECT farm_id,
			house_id,
			remind_method,
			status,
			create_time,
			create_person,
			modify_person,
			modify_time
			FROM s_b_remind_switch 
			WHERE farm_id = #{farmId} AND house_id = #{houseId}
    </select>
    <!-- 新增提醒启用设置 -->
    <insert id="saveSBRemindSwitch" parameterType="pd"  flushCache="false">
    INSERT INTO s_b_remind_switch(farm_id,
			house_id,
			remind_method,
			status,
			create_time,
			create_person,
			modify_person,
			modify_time)value(
			#{farmId},
			#{houseId},
			#{remind_method},
			#{status},
			#{create_time},
			#{create_person},
			#{modify_person},
			#{modify_time})
    </insert>
    <!-- 更新提醒启用设置 -->
	<update id="updateSBRemindSwitch" flushCache="false">
	UPDATE s_b_remind_switch SET status = #{status}  , modify_person = #{modify_person}
	  , modify_time = #{modify_time} 
	  WHERE farm_id = #{farmId} AND house_id = #{houseId} 
	</update>
	<!-- 新增提醒指标配置 -->
    <insert id="saveSBRemindAlarmcode" parameterType="pd"  flushCache="false">
     INSERT INTO s_b_remind_alarmcode(
        farm_id,
		house_id,
		remind_method,
		alarm_code,
		create_time,
		create_person,
		modify_person,
		modify_time
		)value(
		#{farmId},
		#{houseId},
		#{remind_method},
		#{alarm_code},
		#{create_time},
		#{create_person},
		#{modify_person},
		#{modify_time})
    </insert>
    <!-- 查询提醒指标配置 -->
    <select id="selectSBRemindAlarmcodeByCondition" resultType="pd" useCache="false">
    SELECT id,
		farm_id,
		house_id,
		remind_method,
		alarm_code,
		create_time,
		create_person,
		modify_person,
		modify_time,
		bak1,
		bak2
     FROM s_b_remind_alarmcode WHERE farm_id = #{farmId} AND house_id = #{houseId} AND alarm_code = #{alarm_code}
    </select>
    <!-- 查询农场提醒设置-->
    <select id="selectSBRemindSetting" resultType="pd" useCache="false">
    SELECT farm_id,
		remind_method,
		switch_rele_house,
		person_rele_house,
		alarm_rele_house,
		create_time,
		bak1,
		bak2
    FROM s_b_remind_setting WHERE farm_id = #{farmId} 
    </select>
    <!-- 新增农场提醒设置--> 
    <insert id="saveSBRemindSetting" parameterType="pd"  flushCache="false">
    INSERT INTO s_b_remind_setting(
            farm_id,
		remind_method,
		switch_rele_house,
		person_rele_house,
		alarm_rele_house,
		create_time)value(
		#{farmId},
		#{remind_method},
		#{switch_rele_house},
		#{person_rele_house},
		#{alarm_rele_house},
		#{create_time})
    </insert>
    
    <select id="findUserAll" resultType="pd" useCache="false">
		select id,
			user_code,
			user_real_name,
			user_real_name_en,
			user_password,
			user_mobile_1,
			user_mobile_2,
			user_tel_1,
			user_tel_2,
			user_email,
			user_status,
			freeze_status,
			memo_1,
			memo_2,
			memo_3,
			memo_4,
			create_person,
			create_date,
			create_time,
			modify_person,
			modify_date,
			modify_time 
		from s_d_user 
		where  user_status =1
	</select>
	
	<select id="selectSBCode" resultType="pd" useCache="false">
    SELECT code_type,
			biz_code,
			code_name,
			bak1,
			bak2,
			code_desc
    FROM s_d_code WHERE code_type = #{code_type} 
    ORDER BY biz_code
    </select>
</mapper>