<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SDOrganizationMapper" >
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
  <select id="getOrgList" resultType="pd" useCache="false">  
	    select d.id,
	    	   d.organization_id,
	    	   d.name_cn,
	    	   d.parent_id,
	    	   d.level_id,
	    	   d.level_name,
	    	   d.create_person,
	    	   d.create_date,
	    	   d.create_time
	    from s_d_organization d
		LEFT JOIN s_d_rights c
		on d.id = c.obj_id
		LEFT JOIN s_d_role_rights a
		on c.rights_id = a.rights_id
		LEFT JOIN s_d_user_role b
		on a.role_id = b.role_id
		where c.obj_type = 2 
		<if test="user_id != null"> 
			and b.user_id = #{user_id}
		</if>
		<if test="parent_id != null"> 
			and d.parent_id = #{parent_id}
		</if>
		<if test="role_id != null"> 
			and a.role_id = #{role_id}
		</if>
		order by d.id
    </select> 
    
    <select id="getOrgListByRoleId" resultType="pd" useCache="false">  
	    select d.id,
	    	   d.organization_id,
	    	   d.name_cn,
	    	   d.parent_id,
	    	   d.level_id,
	    	   d.level_name,
	    	   d.create_person,
	    	   d.create_date,
	    	   d.create_time
	    from s_d_organization d
		LEFT JOIN s_d_rights c
		on d.id = c.obj_id
		LEFT JOIN s_d_role_rights a
		on c.rights_id = a.rights_id
		where c.obj_type = 2 
		<if test="role_id != null"> 
			and a.role_id = #{role_id}
		</if>
		order by d.id
    </select>

    <select id="getOrgListById" resultType="pd" useCache="false">
	    SELECT id,
	           organization_id,
	           name_cn,
	           parent_id,
	           level_id,
	           level_name,
	           create_person,
	           create_date,
	           create_time
	     FROM  s_d_organization
	     where 1=1
		<if test="id != null">
			and id = #{id}
		</if>
		order by id
    </select>

	<select id="getFarmByUserId" parameterType="pd" resultType="pd" useCache="false">
		select u.id user_id
				,u.user_code
				,u.user_real_name_en
				,u.user_real_name
				,ur.role_id
				,rr.rights_id
				,rr.write_read
				,org.id org_id
				,org.organization_id org_code
				,org.name_cn org_name
				,org.parent_id org_parent_id
				,org.level_id org_level_id
		from s_d_user u
		left join s_d_user_role ur
		on u.id = ur.user_id
		left join s_d_role_rights rr
		on ur.role_id = rr.role_id
		left join s_d_rights r
		on rr.rights_id = r.rights_id
		left join s_d_organization org
		on r.obj_id = org.id
		where r.obj_type = 2
			and org.level_id = (select max(level_id)-1 from s_d_organization)
			and u.id = #{user_id}
		limit 1
	</select>

    <select id="getFarmListByUserId" parameterType="pd" resultType="pd" useCache="false">
        select u.id user_id
        ,u.user_code
        ,u.user_real_name_en
        ,u.user_real_name
        ,ur.role_id
        ,rr.rights_id
        ,rr.write_read
        ,org.id org_id
        ,org.organization_id org_code
        ,org.name_cn org_name
        ,org.parent_id org_parent_id
        ,org.level_id org_level_id
        from s_d_user u
        left join s_d_user_role ur
        on u.id = ur.user_id
        left join s_d_role_rights rr
        on ur.role_id = rr.role_id
        left join s_d_rights r
        on rr.rights_id = r.rights_id
        left join s_d_organization org
        on r.obj_id = org.id
        where r.obj_type = 2
        and org.level_id = (select max(level_id)-1 from s_d_organization)
        and u.id = #{user_id}
    </select>

	<select id="getHouseListByUserId" parameterType="pd" resultType="pd" useCache="false">
		select u.id user_id
				,u.user_code
				,u.user_real_name_en
				,u.user_real_name
				,ur.role_id
				,rr.rights_id
				,rr.write_read
				,org.id org_id
				,org.organization_id org_code
				,org.name_cn org_name
				,org.parent_id org_parent_id
				,org.level_id org_level_id
		from s_d_user u
		left join s_d_user_role ur
		on u.id = ur.user_id
		left join s_d_role_rights rr
		on ur.role_id = rr.role_id
		left join s_d_rights r
		on rr.rights_id = r.rights_id
		left join s_d_organization org
		on r.obj_id = org.id
		where r.obj_type=2
			and org.level_id=(select max(level_id) from s_d_organization)
			and org.parent_id = #{farm_id}
			and u.id = #{user_id}
	</select>

	<select id="getOrgListByUser" parameterType="pd" resultType="pd" useCache="false">
		select d.id,
			d.organization_id,
			d.name_cn,
			d.parent_id,
			d.level_id,
			d.level_name,
			d.create_person,
			d.create_date,
			d.create_time
		from s_d_organization d
		LEFT JOIN s_d_rights c
		on d.id = c.obj_id
		LEFT JOIN s_d_role_rights a
		on c.rights_id = a.rights_id
		LEFT JOIN s_d_user_role b
		on a.role_id = b.role_id
		where c.obj_type = 2
	  		and d.level_id = (select max(aa.level_id) - 2 from s_d_organization aa)
			and b.user_id = #{user_id}
		order by d.id limit 1
	</select>


</mapper>